/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 25px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-image: url(https://cdn.glitch.global/a331b8e1-5eba-4026-9a7e-41f34e861622/ahzxr-pr803.jpg?v=1650676985899);
  color: black; 
}

h1 {
  font-family: American Typewriter, arial, sans-serif; 
}

button {
  padding: 16px;
  border-radius: 18px;
  
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:10px;
}

.hidden {
  display: none;
}



#button1 {
    background: grey;
}

#button2 {
    background: gold;
}

#button3 {
    background: lightblue;
}

#button4 {
    background: lightgreen;
}

#button5 {
    background: pink;
}

#button1:active, #button1.lit{
  background-color: black;
}

#button2:active, #button2.lit {
  background-color: orange
}

#button3:active, #button3.lit {
  background-color: blue
}

#button4:active, #button4.lit {
  background-color: darkgreen
}

#button5:active, #button5.lit {
  background-color: red
}

#button1:active, #button2:active, #button3:active, #button4:active, #button5:active {
  background-image: url("https://cdn.glitch.global/a331b8e1-5eba-4026-9a7e-41f34e861622/SeekPng.png?v=1650682262762");
  background-size:200px 200px;
  background-repeat:no-repeat;
  
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}